extends layout

block content
  h1= title
  p #{title} Uygulamamıza Hoş Geldiniz.

  p
    | Dokümantasyona ulaşmak için 
    a(href='https://github.com/mehmettopcu/test-node-movie-api') tıklayın
    | .
